html, body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    background-color: rgb(6, 45, 240);
  }

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 10px 25px;
    background-color: rgb(227, 220, 220);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    z-index: 1000;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(33, 19, 19);
    text-align: center;
    
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 150px;
}
.container {
    margin: 0 auto;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 50vh;
    border: 2px solid black;
    gap: 10px;
}


.rock-wrapper, .paper-wrapper, .scissors-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 8rem;
    height: 10rem;
    max-width: 180px;
    max-height: 200px;
    min-width: 80px;
    min-height: auto;
}
.rpsButton {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    font-size: 1.6rem;
    margin: 0.8rem;
    border-radius: 1.0rem;
    background: #acb5f4;
}

.rock, .paper, .scissors {
    
    color:white !important;
}

.result-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.player-wrapper, .computer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#result {
    font-size: 2rem;
    font-weight: 700;
}